* {
  -fx-primary-color: #007acc;
  -fx-secondary-color: #4b6eaf;
  -fx-light-grey-color: #d1d1d1;

  -fx-focus-color: -fx-secondary-color;
}

.root {
  /* -fx-background-color: rgb(45, 150, 45); */
  -fx-background-color: linear-gradient(to top left, #1a9107, #24cc1f);
  /* -fx-font-family: sans-serif; */
  -fx-font-family: monospace;
  -fx-font-size: 14px;
  -fx-alignment: center;
}

/* .main-view {
  -fx-pref-width: 1200px;
  -fx-pref-height: 800px;
}

.home-view {
  -fx-pref-width: 1100px;
  -fx-pref-height: 700px;
}

.home-content-view {
  -fx-pref-width: 1050px;
  -fx-pref-height: 650px;
} */

.main-view {
  -fx-pref-width: 1920px;
  -fx-pref-height: 1080px;
}

.home-view {
  -fx-pref-width: 1480px;
  -fx-pref-height: 900px;
}

.home-content-view {
  -fx-pref-width: 1380px;
  -fx-pref-height: 800px;
}

.view {
  -fx-background-color: aliceblue;
  -fx-background-radius: 5;
}

.button {
  -fx-cursor: pointer;
  -fx-font-size: 16px;
  -fx-border-radius: 500px;
  -fx-background-radius: 500px;
  -fx-letter-spacing: 5px;
  -fx-font-weight: 700;
  -fx-background-color: #8dffb5;
  -fx-text-fill: #5f5f5f;
}
.button:hover {
  -fx-background-color: #14ff66;
}

.button-43 {
  -fx-background-color: #71d4ff;
  -fx-background-radius: 10px;
  -fx-font-size: 16px;
}
.button-43:hover {
  -fx-background-color: #5b81ff;
}

.text-field {
  -fx-border-color: -fx-text-box-border, rgb(192, 192, 192);
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-font-family: monospace;
}
.text-field:focused {
  -fx-background-color: -fx-text-box-border, -fx-focus-color, -fx-background;
  -fx-highlight-fill: none;
}

.text-field-1 {
  -fx-pref-height: 45px;
}

.label-1 {
  -fx-alignment: center;
  -fx-padding: 15px 30px;
  -fx-font-size: 16px;
}

.label-2 {
  -fx-alignment: center-left;
  -fx-padding: 10px 20px;
  -fx-font-size: 16px;
}

/**********************************************/

/* login view */

/**********************************************/

.loginlabel {
  -fx-graphic: url("login.png");
}

.login--vbox {
  -fx-alignment: center;
  -fx-padding: 10px 20px;
}

.login--hbox {
  -fx-alignment: center;
}

.login--label {
  -fx-padding: 5px 10px;
}

.login--label--error {
  -fx-padding: 5px 10px;
  -fx-alignment: center;
  -fx-text-fill: rgb(245, 65, 65);
}

.check-box .box {
  -fx-background-color: white;
  -fx-border-color: grey;
  -fx-border-radius: 3px;
}

.check-box:selected .mark {
  -fx-background-color: white;
}

.check-box:selected .box {
  -fx-background-color: #28a3f4;
}

/**********************************************/

/* lotto view */

/**********************************************/

.btn-lotto {
  -fx-pref-width: 110px;
  -fx-pref-height: 45px;
}

/**********************************************/

/* Date Picker */

/**********************************************/

.date-picker .arrow-button {
  -fx-background-color: -fx-primary-color;
  -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
  -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
  -fx-background-color: white;
}
.date-picker .cell {
  -fx-background-color: white;
}
.date-picker .cell:hover {
  -fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
  -fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
  -fx-background-color: -fx-primary-color;
  -fx-text-fill: white;
}
.date-picker .selected:focused {
  -fx-background-color: -fx-primary-color;
  -fx-text-fill: white;
}
.date-picker-popup {
  -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
  -fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
  -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
  -fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
  -fx-background-color: white;
}

.textarea {
  -fx-border-color: -fx-text-box-border, rgb(192, 192, 192);
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-font-family: monospace;
}
